In [1]:
from __future__ import print_function
from airflow.operators.python_operator import PythonOperator
from airflow.operators.email_operator import EmailOperator
from airflow.operators.dummy_operator import DummyOperator
from airflow.operators.mysql_operator import MySqlOperator
from airflow.models import DAG
from datetime import datetime, timedelta
from airflow.hooks.mysql_hook import MySqlHook
import time
from util import *
from time import gmtime, strftime
from pytz import timezone
from datetime import datetime
from sqlalchemy import ForeignKey, Table, Column, String, Integer, Float, Boolean, MetaData, select
from joblib import Parallel, delayed
from impala.dbapi import connect
from impala.util import as_pandas

[2018-03-12 12:39:19,024] {__init__.py:57} INFO - Using executor SequentialExecutor

Using TensorFlow backend.

height has been deprecated.

In [79]:
epopcon_db = Epopcon_db()

wspider_engine = epopcon_db.get_engine(production=True)
wspider_temp_engine = epopcon_db.get_engine(production=False)

In [209]:
not_clean = pd.read_sql_query("SELECT item_id FROM MWS_COLT_ITEM_EXTRACTED_FEATURE WHERE condition_clean = 0 LIMIT 3", wspider_temp_engine)

In [210]:
not_clean.item_id.values

array([425, 428, 434])

In [84]:
result = pd.read_sql_query("SELECT * FROM MWS_COLT_ITEM_IVT LIMIT 300", wspider_engine)


# result_dict = {a: b.ID.values for (a, b) in list(result.groupby('SITE_NAME'))}
# BATCH_SIZE = 100

In [90]:
result['ITEM_ID']

0       1
1       1
2       1
3       2
4       2
       ..
295    45
296    45
297    45
298    45
299    45
Name: ITEM_ID, Length: 300, dtype: int64

In [92]:
cond1 = pd.notnull(result['ITEM_ID'])

In [93]:
cond2 = pd.notnull(result['STOCK_ID']) & (result['STOCK_ID'] == '')

In [96]:
cond1 & cond2

0      False
1      False
2      False
3      False
4      False
       ...
295    False
296    False
297    False
298    False
299    False
Length: 300, dtype: bool

In [69]:
result2['ITEM_ID']

REG_DT
2017-08-01 16:04:32    1
Name: ITEM_ID, dtype: int64

In [68]:
cond2 = pd.notnull(result2['ITEM_ID']) & (result2['ITEM_ID'] == '')

TypeError: invalid type comparison

In [61]:
result2 = result2.head(2)

In [62]:
rows = tuple([tuple(x) for x in result2.values])

In [65]:
len(rows[0])

14

In [31]:
rows = tuple([tuple(x) for x in result2.values])

In [32]:
rows

((1,
  1,
  '26824625001',
  '??',
  '55',
  None,
  None,
  '??/55',
  931,
  0,
  '20170801',
  'SERVER',
  Timestamp('2017-08-01 16:04:32'),
  2),
 (2,
  1,
  '26824625002',
  '??',
  '66',
  None,
  None,
  '??/66',
  880,
  0,
  '20170801',
  'SERVER',
  Timestamp('2017-08-01 16:04:32'),
  2),
 (3,
  1,
  '26824625003',
  '??',
  '77',
  None,
  None,
  '??/77',
  389,
  0,
  '20170801',
  'SERVER',
  Timestamp('2017-08-01 16:04:32'),
  2),
 (4,
  2,
  '26824626001',
  '??',
  '55',
  None,
  None,
  '??/55',
  884,
  0,
  '20170801',
  'SERVER',
  Timestamp('2017-08-01 16:04:32'),
  2),
 (5,
  2,
  '26824626002',
  '??',
  '66',
  None,
  None,
  '??/66',
  846,
  0,
  '20170801',
  'SERVER',
  Timestamp('2017-08-01 16:04:32'),
  2),
 (6,
  2,
  '26824626003',
  '??',
  '77',
  None,
  None,
  '??/77',
  380,
  0,
  '20170801',
  'SERVER',
  Timestamp('2017-08-01 16:04:32'),
  2),
 (7,
  3,
  '26824923001',
  '??',
  '55',
  None,
  None,
  '??/55',
  894,
  0,
  '20170801',
  'SERVER',
  Timestamp('2017-08-01 16:04:32'),
  2),
 (8,
  3,
  '26824923002',
  '??',
  '66',
  None,
  None,
  '??/66',
  354,
  0,
  '20170801',
  'SERVER',
  Timestamp('2017-08-01 16:04:32'),
  2),
 (9,
  3,
  '26824923003',
  '??',
  '77',
  None,
  None,
  '??/77',
  223,
  0,
  '20170801',
  'SERVER',
  Timestamp('2017-08-01 16:04:32'),
  2),
 (10,
  3,
  '26824923004',
  '??',
  '88',
  None,
  None,
  '??/88',
  1,
  0,
  '20170801',
  'SERVER',
  Timestamp('2017-08-01 16:04:32'),
  2))

In [21]:
result2[['wow']] = 2

In [24]:
result2 = result2.set_index(result2.REG_DT)

In [29]:
result2.drop(result2.index)

Empty DataFrame
Columns: [ID, ITEM_ID, STOCK_ID, COLOR_OPTION, SIZE_OPTION, STYLE_OPTION, GIFT_OPTION, OPTION, STOCK_AMOUNT, ADD_PRICE, COLLECT_DAY, REG_ID, REG_DT, wow]
Index: []

In [3]:
result2 = pd.read_sql_query("SELECT * FROM MWS_COLT_ITEM_IVT LIMIT 10", wspider_engine)

In [13]:
filter_set = set(np.array([3,8]))

In [9]:
tmp_lst = np.array([1,3,4, 8, 11, 14])

In [17]:
np.array([item for item in tmp_lst if item not in filter_set])

array([ 1,  4, 11, 14])

In [14]:
filter_set

{3, 8}

In [8]:
np.delete(tmp_lst, 3)

array([1, 3, 4])

In [182]:
'a' in ['a', 'b']

True

In [181]:
result.SITE_NAME.unique()

array(['HMALL', 'lotte.com', 'DESCENTE', 'GSSHOP', 'nbkorea', 'NIKE'], dtype=object)

In [115]:
splitted_input = []
for key, value in result_dict.iteritems():
    n_split = math.ceil(len(value) / float(BATCH_SIZE))
    splitted_lsts = np.array_split(value, n_split)
    for splitted_lst in splitted_lsts:
        splitted_input.append({'SIZE_NAME': key, 'ITEM_IDS': splitted_lst})

In [120]:
dataset = splitted_input[0]

In [172]:

item_ids = str(tuple([item_id for item_id in dataset['ITEM_IDS']]))
sql = "SELECT ITEM_ID, STOCK_ID, STOCK_AMOUNT, COLLECT_DAY, REG_ID, REG_DT FROM MWS_COLT_ITEM_IVT WHERE ITEM_ID IN %s" % item_ids

In [173]:
results = pd.read_sql_query(sql, wspider_engine)

In [184]:
tmp = results.head(10)

In [189]:
tuples = tuple([tuple(x) for x in tmp.values])

In [191]:
import MySQLdb
import MySQLdb.cursors

In [186]:
list(tmp.itertuples(index=False))

[Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=300, COLLECT_DAY='20180102', REG_ID='SERVER', REG_DT=Timestamp('2018-01-02 11:02:42')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180103', REG_ID='SERVER', REG_DT=Timestamp('2018-01-03 03:10:05')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180103', REG_ID='SERVER', REG_DT=Timestamp('2018-01-03 10:53:39')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180103', REG_ID='SERVER', REG_DT=Timestamp('2018-01-03 18:29:23')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180104', REG_ID='SERVER', REG_DT=Timestamp('2018-01-04 10:36:26')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180105', REG_ID='SERVER', REG_DT=Timestamp('2018-01-05 13:39:20')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180106', REG_ID='SERVER', REG_DT=Timestamp('2018-01-06 13:07:52')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180107', REG_ID='SERVER', REG_DT=Timestamp('2018-01-07 12:37:34')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180108', REG_ID='SERVER', REG_DT=Timestamp('2018-01-08 12:14:12')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180109', REG_ID='SERVER', REG_DT=Timestamp('2018-01-09 11:32:34'))]

In [174]:
results

      ITEM_ID             STOCK_ID  STOCK_AMOUNT COLLECT_DAY  REG_ID              REG_DT
0     6739976  5509409554175882274           300    20180102  SERVER 2018-01-02 11:02:42
1     6739976  5509409554175882274           299    20180103  SERVER 2018-01-03 03:10:05
2     6739976  5509409554175882274           299    20180103  SERVER 2018-01-03 10:53:39
3     6739976  5509409554175882274           299    20180103  SERVER 2018-01-03 18:29:23
4     6739976  5509409554175882274           299    20180104  SERVER 2018-01-04 10:36:26
...       ...                  ...           ...         ...     ...                 ...
8180  6749576  4755077369539950068           438    20180104  SERVER 2018-01-04 18:33:33
8181  6749576  4755077369539950068           437    20180106  SERVER 2018-01-06 12:57:28
8182  6749576  4755077369539950068           437    20180107  SERVER 2018-01-07 12:03:49
8183  6749576  4755077369539950068           435    20180108  SERVER 2018-01-08 12:00:26
8184  6749576  4755077369539950068           434    20180110  SERVER 2018-01-10 10:55:00

[8185 rows x 6 columns]

In [128]:
tuple([item_id for item_id in item_ids])

(6739976,
 6739977,
 6739978,
 6739979,
 6739980,
 6739981,
 6739982,
 6739983,
 6739984,
 6739985,
 6739986,
 6739987,
 6739988,
 6739989,
 6739990,
 6739991,
 6739992,
 6739993,
 6740377,
 6740378,
 6740379,
 6740380,
 6740381,
 6740382,
 6740383,
 6740384,
 6740385,
 6740386,
 6740387,
 6740388,
 6740389,
 6740390,
 6740391,
 6740392,
 6740393,
 6740394,
 6740395,
 6740396,
 6740397,
 6740398,
 6740399,
 6740400,
 6740401,
 6740402,
 6740403,
 6740404,
 6740405,
 6740406,
 6740407,
 6740408,
 6740409,
 6740410,
 6740411,
 6740412,
 6740413,
 6740414,
 6740415,
 6740416,
 6740417,
 6740418,
 6740419,
 6740420,
 6740421,
 6740929,
 6740930,
 6740931,
 6740932,
 6740933,
 6740934,
 6740935,
 6740936,
 6740937,
 6740938,
 6740939,
 6740940,
 6740941,
 6740942,
 6740943,
 6748414,
 6748415,
 6748416,
 6748417,
 6748418,
 6748422,
 6748423,
 6748424,
 6748425,
 6748426,
 6749569,
 6749570,
 6749571,
 6749572,
 6749573,
 6749574,
 6749575,
 6749576)

hook = MySqlHook(mysql_conn_id='mysql_wspider')
result = hook.get_pandas_df(sql='SELECT ID, SITE_NAME FROM wspider.MWS_COLT_ITEM_IVT LIMIT 10')
item_ids = result.ID.values
print(item_ids)