In [6]:
from util import *
from time import gmtime, strftime
from pytz import timezone
from datetime import datetime
from sqlalchemy import ForeignKey, Table, Column, String, Integer, Float, Boolean, MetaData, select

Using TensorFlow backend.

In [48]:
epopcon_db = Epopcon_db()

wspider_engine = epopcon_db.get_engine(production=True)
wspider_temp_engine = epopcon_db.get_engine(production=False)

In [49]:
selected_dat = pd.read_sql_query("SELECT ID, COLLECT_SITE FROM MWS_COLT_ITEM WHERE RELEASE_DT > '2018-01-01'", wspider_engine)

KeyboardInterrupt:

In [10]:
total_num_items_by_collect_site = selected_dat.groupby('COLLECT_SITE').count()

In [11]:
df= pd.DataFrame(sell_amt_df['ITEM_ID'].unique())

df.columns = ['ITEM_ID']

merged_df = pd.merge(df, selected_dat, how='left', left_on='ITEM_ID', right_on='ID')

merged_df = merged_df.loc[:, ['ITEM_ID', 'COLLECT_SITE']]

NameError: name 'sell_amt_df' is not defined

In [ ]:
selected_num_items_by_collect_site = merged_df.groupby('COLLECT_SITE').count()

In [ ]:
total_num_items_by_collect_site.ID

In [ ]:
selected_num_items_by_collect_site.ITEM_ID

EDA for Nike

In [12]:
query = tuple([id for id in selected_dat.loc[selected_dat.COLLECT_SITE == 'www.nike.com',:]['ID'].values])

result = pd.read_sql_query("SELECT * FROM MWS_COLT_ITEM_IVT WHERE REG_DT > '2018-01-01' AND ITEM_ID IN %s" % str(query), wspider_engine)

result = result.set_index('REG_DT')

In [13]:
result

                             ID  ITEM_ID             STOCK_ID                COLOR_OPTION SIZE_OPTION STYLE_OPTION GIFT_OPTION                          OPTION  STOCK_AMOUNT  ADD_PRICE COLLECT_DAY  REG_ID
REG_DT
2018-02-21 19:19:48  3028511173  7999923  2709922542437437830   ???????/???(##804392-063)         090         None        None   ???????/???(##804392-063)/090             0          0    20180221  SERVER
2018-02-21 19:19:48  3028511174  7999923  2625272801277650037   ???????/???(##804392-063)         095         None        None   ???????/???(##804392-063)/095             4          0    20180221  SERVER
2018-02-21 19:19:48  3028511178  7999923  2625560938085165686   ???????/???(##804392-063)         100         None        None   ???????/???(##804392-063)/100            13          0    20180221  SERVER
2018-02-21 19:19:48  3028511179  7999923  2625849074892681335   ???????/???(##804392-063)         105         None        None   ???????/???(##804392-063)/105             2          0    20180221  SERVER
2018-02-21 19:19:48  3028511181  7999923  2626137211700196984   ???????/???(##804392-063)         110         None        None   ???????/???(##804392-063)/110             0          0    20180221  SERVER
...                         ...      ...                  ...                         ...         ...          ...         ...                             ...           ...        ...         ...     ...
2018-02-26 12:10:17  3075818173  8123287   197426914209125295  ??/?????/???(##AH7365-081)         290         None        None  ??/?????/???(##AH7365-081)/290             3          0    20180226  SERVER
2018-02-26 12:10:17  3075818174  8123287   112777173049337502  ??/?????/???(##AH7365-081)         295         None        None  ??/?????/???(##AH7365-081)/295             0          0    20180226  SERVER
2018-02-26 12:10:17  3075818176  8123287   113065309856853151  ??/?????/???(##AH7365-081)         300         None        None  ??/?????/???(##AH7365-081)/300             0          0    20180226  SERVER
2018-02-26 12:10:17  3075818179  8123287   113353446664368800  ??/?????/???(##AH7365-081)         305         None        None  ??/?????/???(##AH7365-081)/305             0          0    20180226  SERVER
2018-02-26 12:10:17  3075818186  8123287   113641583471884449  ??/?????/???(##AH7365-081)         310         None        None  ??/?????/???(##AH7365-081)/310             0          0    20180226  SERVER

[132101 rows x 12 columns]

In [21]:
tmp = result.groupby('ITEM_ID').apply(lambda group: len(group['STOCK_ID'].unique()))

In [65]:
np.sort(tmp.values)[::-1][:100]

array([165, 153, 144, 136, 134, 120, 120, 120, 119, 119, 119, 108, 102,
       102, 102, 102, 102, 102,  93,  91,  90,  90,  90,  90,  90,  90,
        85,  85,  85,  85,  85,  84,  77,  77,  76,  76,  75,  75,  75,
        75,  75,  75,  75,  75,  75,  72,  72,  72,  72,  71,  70,  68,
        68,  68,  68,  68,  68,  68,  68,  68,  68,  68,  68,  68,  68,
        68,  68,  67,  66,  65,  65,  65,  61,  61,  60,  60,  60,  60,
        60,  60,  60,  60,  60,  60,  60,  57,  57,  55,  54,  54,  54,
        54,  54,  54,  54,  54,  54,  52,  51,  51])

In [39]:
tmp.describe()

count    2096.000000
mean       15.351622
std        18.122914
min         1.000000
25%         5.000000
50%        10.000000
75%        16.000000
max       165.000000
dtype: float64

tmp[tmp == 165]
result.loc[result.ITEM_ID == 8000501, :]

In [ ]:
8000501

In [50]:
TMP = pd.read_sql_query("SELECT * FROM MWS_COLT_ITEM WHERE ID = 8000501", wspider_engine)

In [53]:
TMP.COLLECT_URL.values[0]

'https://www.nike.com/kr/ko_kr/t/women/fw/running/880560-007/Oq2JjE/wmns-nike-air-zoom-pegasus'

EDA for ADIDAS

In [54]:
15 * 11

165