In [285]:
from util import *
#-*- coding: utf-8 -*-
import sys
reload(sys)
sys.setdefaultencoding('utf-8')

In [3]:
engine = create_engine("mysql://wspider:wspider00!q@133.186.143.65:3306/wspider",
                           connect_args={'connect_timeout': 10000})

In [17]:
data = pd.read_sql_query("SELECT * FROM MWS_COLT_ITEM LIMIT 3" , engine)

In [21]:
data.ID.values

array([1, 2, 3])

In [27]:
for id in data.ID.values:
    image_df = pd.read_sql_query("SELECT * FROM MWS_COLT_IMAGE WHERE ITEM_ID = %s" % id, engine)
    print(image_df['GOODS_IMAGE'][0])

In [23]:
pd.read_sql_query("SELECT * FROM MWS_COLT_IMAGE WHERE ITEM_ID = %s" % '2', engine)

   ID  ITEM_ID                                        GOODS_IMAGE          FILE_PATH             OPTION  SEQ                HASH  STATUS              REG_DT              UPT_DT
0   2        2  http://image.gsshop.com/image/26/82/26824626_L...  /GSSHOP/2/0/2.jpg  67073096550953918    1 -709455420029072118       1 2017-08-01 16:04:32 2017-08-28 15:51:00

In [8]:
pd.read_sql_query("SELECT * FROM MWS_COLT_IMAGE WHERE ITEM_ID = %s" % '2', engine)['GOODS_IMAGE'][0]

'http://image.gsshop.com/image/26/82/26824626_L1.jpg'

In [9]:
resp = urllib.urlopen('http://image.gsshop.com/image/26/82/26824626_L1.jpg')

In [10]:
resp

In [12]:
image = np.asarray(bytearray(resp.read()), dtype="uint8")
image = cv2.imdecode(image, cv2.IMREAD_COLOR)

In [13]:
image

array([[[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]],

       [[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]],

       [[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]],

       ...,
       [[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]],

       [[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]],

       [[255, 255, 255],
        [255, 255, 255],
        [255, 255, 255],
        ...,
        [255, 255, 255],
        [255, 255, 255],
        [255, 255, 255]]], dtype=uint8)

In [104]:
# engine = create_engine("mysql://wspider:wspider00!q@133.186.143.65:3306/wspider",
#                            connect_args={'connect_timeout': 10000})

engine = create_engine("mysql://wspidermr:wspidermr00!q@133.186.134.155:3306/lf-bigdata-real-5",
                           connect_args={'connect_timeout': 10000})

In [105]:
data_answer = pd.read_sql_query("SELECT * FROM MLF_GOODS_ANSWER" , engine)

In [108]:
data_answer = data_answer[['GOODS_NO', 'CATE_CODE3']]

In [130]:
data_answer.head(20)

    GOODS_NO CATE_CODE3
0    4764804     WF1204
1    4764805     WF0902
2    4764808     WF0902
3    4764809     WF0699
4    4764810     WF0699
..       ...        ...
15   4764852     WF0902
16   4764856     WF0902
17   4764857     WF0902
18   4764858     WF0902
19   4764860     WF0902

[20 rows x 2 columns]

In [39]:
data_image = pd.read_sql_query("SELECT GOODS_NO, IMAGE_URL FROM MLF_IMAGE" , engine)

In [134]:
data_image = data_image.reset_index(drop=True)

In [135]:
data_image.head()

                                           IMAGE_URL  GOODS_NO
0  http://image.gsshop.com/image/26/82/26825197_L...   4764797
1  http://image.gsshop.com/image/26/82/26824627_L...   4764800
2  http://image.gsshop.com/image/26/82/26825223_L...   4764801
3  http://image.gsshop.com/image/26/82/26825131_L...   4764793
4  http://image.gsshop.com/image/25/63/25635525_L...   4764814

In [136]:
data_answer_image = pd.merge(data_answer, data_image, how='left', left_on=['GOODS_NO'], right_on=['GOODS_NO'])

In [142]:
data_answer_image = data_answer_image.groupby("GOODS_NO").first()

In [150]:
data_answer_image['GOODS_NO'] = data_answer_image.index

In [151]:
data_answer_image.head()

         CATE_CODE3                                          IMAGE_URL  GOODS_NO
GOODS_NO
4764804      WF1204  http://image.gsshop.com/image/26/12/26125249_L...   4764804
4764805      WF0902  http://image.gsshop.com/image/25/11/25112401_L...   4764805
4764808      WF0902  http://image.gsshop.com/image/26/12/26125243_L...   4764808
4764809      WF0699  http://image.gsshop.com/image/26/76/26766819_L...   4764809
4764810      WF0699  http://image.gsshop.com/image/25/92/25920999_L...   4764810

In [113]:
data_category = pd.read_sql_query("SELECT * FROM MLF_CATEGORY" , engine)

In [114]:
data_category.head()

   CATE_NO  UPPER_CATE_NO CATE_NAME  DEPTH CODE1 CODE2 CODE3 CODE4 CODE5  STATUS CATE_NAMES  LEAF              REG_DT
0        0              0       미분류      1    99                               1        미분류     0 2017-08-29 11:34:48
1        1              0      남성의류      1    WM                               1       남성의류     0 2017-08-29 11:34:48
2        2              0      여성의류      1    WF                               1       여성의류     0 2017-08-29 11:34:48
3        3              0    유니섹스의류      1    WU                               1     유니섹스의류     0 2017-08-29 11:34:48
4        4              0      키즈의류      1    WK                               1       키즈의류     0 2017-08-29 11:34:48

In [115]:
data_category = data_category[['CODE3', 'CATE_NAMES']]

In [152]:
data_category.head()

  CODE3 CATE_NAMES
0              미분류
1             남성의류
2             여성의류
3           유니섹스의류
4             키즈의류

In [178]:
data_answer_image_category = pd.merge(data_answer_image, data_category, how='left', left_on=["CATE_CODE3"], right_on=["CODE3"])

In [179]:
data_answer_image_category.head()

  CATE_CODE3                                          IMAGE_URL  GOODS_NO   CODE3       CATE_NAMES
0     WF1204  http://image.gsshop.com/image/26/12/26125249_L...   4764804  WF1204       여성의류>팬츠>배기
1     WF0902  http://image.gsshop.com/image/25/11/25112401_L...   4764805  WF0902  여성의류>티셔츠>기타 티셔츠
2     WF0902  http://image.gsshop.com/image/26/12/26125243_L...   4764808  WF0902  여성의류>티셔츠>기타 티셔츠
3     WF0699  http://image.gsshop.com/image/26/76/26766819_L...   4764809  WF0699    여성의류>블라우스>미분류
4     WF0699  http://image.gsshop.com/image/25/92/25920999_L...   4764810  WF0699    여성의류>블라우스>미분류

In [180]:
del data_answer_image_category['CATE_CODE3']

In [353]:
pickle.dump(data_answer_image_category, open("data/data_answer_image_category.pkl", "wb"))

In [ ]:
pickle.dump(data_answer_image_category, open("data/data_answer_image_category.pkl", "wb"))

In [182]:
data_answer_image_category['STATUS'] = "waiting"

In [286]:
data_answer_image_category.head()

                                           IMAGE_URL  GOODS_NO   CODE3               CATE_NAMES   STATUS
0  http://image.gsshop.com/image/26/12/26125249_L...   4764804  WF1204         �����Ƿ�>����>���  waiting
1  http://image.gsshop.com/image/25/11/25112401_L...   4764805  WF0902  �����Ƿ�>Ƽ����>��Ÿ Ƽ����  waiting
2  http://image.gsshop.com/image/26/12/26125243_L...   4764808  WF0902  �����Ƿ�>Ƽ����>��Ÿ Ƽ����  waiting
3  http://image.gsshop.com/image/26/76/26766819_L...   4764809  WF0699        �����Ƿ�>���콺>�̺з�  waiting
4  http://image.gsshop.com/image/25/92/25920999_L...   4764810  WF0699        �����Ƿ�>���콺>�̺з�  waiting

In [348]:
def get_images():
    

    df = data_answer_image_category[data_answer_image_category.STATUS != 'done']
    return df.head(10).T.to_dict().values()

In [349]:
get_images()

[{u'CATE_NAMES': '\xbf\xa9\xbc\xba\xc0\xc7\xb7\xf9>\xc6\xd2\xc3\xf7>\xb9\xe8\xb1\xe2',
  u'CODE3': 'WF1204',
  'GOODS_NO': 4764804,
  u'IMAGE_URL': 'http://image.gsshop.com/image/26/12/26125249_L1.jpg',
  'STATUS': 'waiting'},
 {u'CATE_NAMES': '\xbf\xa9\xbc\xba\xc0\xc7\xb7\xf9>\xc6\xbc\xbc\xc5\xc3\xf7>\xb1\xe2\xc5\xb8 \xc6\xbc\xbc\xc5\xc3\xf7',
  u'CODE3': 'WF0902',
  'GOODS_NO': 4764805,
  u'IMAGE_URL': 'http://image.gsshop.com/image/25/11/25112401_L1.jpg',
  'STATUS': 'waiting'},
 {u'CATE_NAMES': '\xbf\xa9\xbc\xba\xc0\xc7\xb7\xf9>\xc6\xbc\xbc\xc5\xc3\xf7>\xb1\xe2\xc5\xb8 \xc6\xbc\xbc\xc5\xc3\xf7',
  u'CODE3': 'WF0902',
  'GOODS_NO': 4764808,
  u'IMAGE_URL': 'http://image.gsshop.com/image/26/12/26125243_L1.jpg',
  'STATUS': 'waiting'},
 {u'CATE_NAMES': '\xbf\xa9\xbc\xba\xc0\xc7\xb7\xf9>\xba\xed\xb6\xf3\xbf\xec\xbd\xba>\xb9\xcc\xba\xd0\xb7\xf9',
  u'CODE3': 'WF0699',
  'GOODS_NO': 4764809,
  u'IMAGE_URL': 'http://image.gsshop.com/image/26/76/26766819_L1.jpg',
  'STATUS': 'waiting'},
 {u'CATE_NAMES': '\xbf\xa9\xbc\xba\xc0\xc7\xb7\xf9>\xba\xed\xb6\xf3\xbf\xec\xbd\xba>\xb9\xcc\xba\xd0\xb7\xf9',
  u'CODE3': 'WF0699',
  'GOODS_NO': 4764810,
  u'IMAGE_URL': 'http://image.gsshop.com/image/25/92/25920999_L1.jpg',
  'STATUS': 'waiting'},
 {u'CATE_NAMES': '\xbf\xa9\xbc\xba\xc0\xc7\xb7\xf9>\xb5\xe5\xb7\xb9\xbd\xba>\xb7\xb9\xc0\xcc\xbd\xba\xb5\xe5\xb7\xb9\xbd\xba',
  u'CODE3': 'WF1302',
  'GOODS_NO': 4764811,
  u'IMAGE_URL': 'http://image.gsshop.com/image/26/76/26766323_L1.jpg',
  'STATUS': 'waiting'},
 {u'CATE_NAMES': '\xbf\xa9\xbc\xba\xc0\xc7\xb7\xf9>\xba\xed\xb6\xf3\xbf\xec\xbd\xba>\xb9\xcc\xba\xd0\xb7\xf9',
  u'CODE3': 'WF0699',
  'GOODS_NO': 4764812,
  u'IMAGE_URL': 'http://image.gsshop.com/image/25/63/25635529_L1.jpg',
  'STATUS': 'waiting'},
 {u'CATE_NAMES': '\xbf\xa9\xbc\xba\xc0\xc7\xb7\xf9>\xba\xed\xb6\xf3\xbf\xec\xbd\xba>\xb9\xcc\xba\xd0\xb7\xf9',
  u'CODE3': 'WF0699',
  'GOODS_NO': 4764813,
  u'IMAGE_URL': 'http://image.gsshop.com/image/25/63/25635539_L1.jpg',
  'STATUS': 'waiting'},
 {u'CATE_NAMES': '\xbf\xa9\xbc\xba\xc0\xc7\xb7\xf9>\xc6\xd2\xc3\xf7>\xb8\xe9\xb9\xd9\xc1\xf6',
  u'CODE3': 'WF1201',
  'GOODS_NO': 4764814,
  u'IMAGE_URL': 'http://image.gsshop.com/image/25/63/25635525_L1.jpg',
  'STATUS': 'waiting'},
 {u'CATE_NAMES': '\xbf\xa9\xbc\xba\xc0\xc7\xb7\xf9>\xc4\xda\xc6\xae>\xb7\xd5\xc4\xda\xc6\xae',
  u'CODE3': 'WF0303',
  'GOODS_NO': 4764821,
  u'IMAGE_URL': 'http://image.gsshop.com/image/21/62/21620909_L1.jpg',
  'STATUS': 'waiting'}]

In [347]:
tmp_gen

In [273]:
tmp = data_answer_image_category

In [287]:
tmp = pickle.load(open("data/data_answer_image_category.pkl", "rb"))

In [352]:
tmp['STATUS'] = 'waiting'

In [299]:
tmp['CATE_NAMES'][0]

'\xbf\xa9\xbc\xba\xc0\xc7\xb7\xf9>\xc6\xd2\xc3\xf7>\xb9\xe8\xb1\xe2'

In [320]:
print(a)

In [368]:
from pymongo import MongoClient
import json

In [ ]:
client = MongoClient("mongodb://mongo-191809ff-1.673dca44.cont.dockerapp.io:32768")
db = client.coinone
db.tickers.find().count()

In [355]:
client = MongoClient('mongodb://localhost:27017/')

In [356]:
client

MongoClient(host=['localhost:27017'], document_class=dict, tz_aware=False, connect=True)

In [360]:
db = client.epopcon

In [365]:
a = tmp.T.to_dict()

In [372]:
records = json.loads(tmp.T.to_json()).values()

In [362]:
products = db.products

In [378]:
products.create_index('GOODS_NO')

u'GOODS_NO_1'

In [395]:
def get_products_lst(n=20):
    retrived_lst = list(products.find({'STATUS': 'waiting'}).limit(n))
    return retrived_lst

In [398]:
GOODS_NOs = [item['GOODS_NO'] for item in retrived_lst]

In [390]:
products.find()[0]

{u'CATE_NAMES': u'\ud0a4\uc988\uc758\ub958>\uc810\ud37c/\uc544\uc6b0\ud130>\ub2e4\uc6b4\uc810\ud37c',
 u'CODE3': u'WK0204',
 u'GOODS_NO': 10746401,
 u'IMAGE_URL': u'http://image.gsshop.com/image/28/54/28547647_L1.jpg',
 u'STATUS': u'waiting',
 u'_id': ObjectId('5a6a8344160cd74183bb3fd4')}

In [402]:
def update_status(status, good_nos):
    products.update_many({'GOODS_NO': {'$in': good_nos}}, {'$set': {'STATUS': status}})