In [36]:
import boto3
import logging
from util import *
import os
from botocore.exceptions import ClientError

Using TensorFlow backend.

In [31]:
class S3_uploader:
    
    def __init__(self, bucket_name):
        self.s3 = boto3.client('s3')
        self.bucket_name = bucket_name
    
    def upload(self, file, directory=''):
        self.s3.upload_file(file, self.bucket_name, os.path.join(directory, file.split('/')[-1]))

In [32]:
s3_uploader = S3_uploader('epopcon-ds')

In [34]:
s3_uploader.upload('data/testfile1.txt', 'wow')

In [39]:
engine = Epopcon_db().get_engine()

In [7]:
s3 = boto3.client('s3')
bucket_name = 'epopcon-ds'
s3.upload_file(filename, bucket_name, filename.split('/')[-1])

In [40]:


tmp_df = pd.read_sql_query("SELECT * FROM MWS_COLT_ITEM_SELL_AMT_DEV WHERE UPT_DT > '2018-01-01'", engine)

In [41]:
tmp_df

      ID  ITEM_ID           STOCK_ID COLLECT_DAY  SELL_AMOUNT  REG_ID     REG_DT              UPT_DT       UPT_ID  STOCK_AMOUNT_imputed  STOCK_AMOUNT
0      1  6739928  53775269400471821  2018-01-02            0  SERVER 2018-01-02 2018-02-23 02:13:30  FILTER ALGO                   100         100.0
1      2  6739928  53775269400471821  2018-01-03            0  SERVER 2018-01-03 2018-02-23 02:13:30  FILTER ALGO                    83          83.0
2      3  6739928  53775269400471821  2018-01-04            0  SERVER 2018-01-04 2018-02-23 02:13:30  FILTER ALGO                    73          73.0
3      4  6739928  53775269400471821  2018-01-05            1  SERVER 2018-01-05 2018-02-23 02:13:30  FILTER ALGO                    72          72.0
4      5  6739928  53775269400471821  2018-01-06            0  SERVER 2018-01-06 2018-02-23 02:13:30  FILTER ALGO                    72          72.0
..   ...      ...                ...         ...          ...     ...        ...                 ...          ...                   ...           ...
446  447  6740463        28996185001  2018-01-25            0  SERVER 2018-01-25 2018-02-23 02:13:33  FILTER ALGO                     4           NaN
447  448  6740463        28996185001  2018-01-26            0  SERVER 2018-01-26 2018-02-23 02:13:33  FILTER ALGO                     4           4.0
448  449  6740463        28996185001  2018-01-27            0  SERVER 2018-01-27 2018-02-23 02:13:33  FILTER ALGO                     4           NaN
449  450  6740463        28996185001  2018-01-28            0  SERVER 2018-01-28 2018-02-23 02:13:33  FILTER ALGO                     4           NaN
450  451  6740463        28996185001  2018-01-29            0  SERVER 2018-01-29 2018-02-23 02:13:33  FILTER ALGO                     4           4.0

[451 rows x 11 columns]

In [9]:
response = s3.list_buckets()

response

{u'Buckets': [{u'CreationDate': datetime.datetime(2018, 2, 19, 5, 14, 14, tzinfo=tzlocal()),
   u'Name': 'epopcon-ds'}],
 u'Owner': {u'DisplayName': 'daniel.kim',
  u'ID': 'db11f709f8ffe4b8d451b306e3ea577bb97c14b3def1e598e5b4b499093ef439'},
 'ResponseMetadata': {'HTTPHeaders': {'content-type': 'application/xml',
   'date': 'Fri, 23 Feb 2018 02:38:59 GMT',
   'server': 'AmazonS3',
   'transfer-encoding': 'chunked',
   'x-amz-id-2': 'LF7/XhZZTogO4/uX+FxzFUyKhNkbpxxvNwC7gC7NOV/CVuJfMb5JXObIHVdSrXFrEys4K0uGtnU=',
   'x-amz-request-id': '7D152873970A6519'},
  'HTTPStatusCode': 200,
  'HostId': 'LF7/XhZZTogO4/uX+FxzFUyKhNkbpxxvNwC7gC7NOV/CVuJfMb5JXObIHVdSrXFrEys4K0uGtnU=',
  'RequestId': '7D152873970A6519',
  'RetryAttempts': 0}}

In [114]:
[bucket['Name'] for bucket in response]

TypeError: string indices must be integers

In [7]:
# s3 = session.client('s3', region_name="us-east-1")

In [8]:
# s3.create_bucket(Bucket='gc-1', ACL='private')

BucketAlreadyExists: An error occurred (BucketAlreadyExists) when calling the CreateBucket operation: The requested bucket name is not available. The bucket namespace is shared by all users of the system. Please select a different name and try again.

In [37]:
try:
    response = s3.put_object(Bucket=bucket_name, Key='second_level/')
    logging.info("  %s", response)
except Exception as e:
    logging.warn("Bucket error %s", e)

In [47]:
s3.upload_file(filename, bucket_name, filename, Key='second_level')

TypeError: upload_file() got multiple values for keyword argument 'Key'

In [49]:
s3.upload_file(filename, bucket_name, 'second_level/' + filename)

In [102]:
s3 = boto3.resource('s3')
s3.Object(bucket_name, 'hello.txt').put(Body=open(filename, 'rb'))

{u'ETag': '"432aba8518d14edc7aa09117eba55799"',
 'ResponseMetadata': {'HTTPHeaders': {'content-length': '0',
   'date': 'Mon, 19 Feb 2018 11:37:58 GMT',
   'etag': '"432aba8518d14edc7aa09117eba55799"',
   'server': 'AmazonS3',
   'x-amz-id-2': 'WnNzaM7lZAi1/SqKUpIV+EyaqDl91vCOKBYWNBqFhUvUuI+w0AqO/uqqTYVo4BXK92pVVr5wMeA=',
   'x-amz-request-id': '742513E3C716AC35'},
  'HTTPStatusCode': 200,
  'HostId': 'WnNzaM7lZAi1/SqKUpIV+EyaqDl91vCOKBYWNBqFhUvUuI+w0AqO/uqqTYVo4BXK92pVVr5wMeA=',
  'RequestId': '742513E3C716AC35',
  'RetryAttempts': 0}}

In [169]:
ec2 = boto3.resource('ec2')
ec2_client = boto3.client('ec2')

In [155]:
ids[0].id

'i-0e5e68c7b2bf89d90'

In [174]:
INSTANCE_ID = 'i-08ecff19526beca62'

In [157]:
ec2.instances.filter(InstanceIds=[instance_id]).start()

[{'ResponseMetadata': {'HTTPHeaders': {'content-length': '580',
    'content-type': 'text/xml;charset=UTF-8',
    'date': 'Wed, 21 Feb 2018 01:16:12 GMT',
    'server': 'AmazonEC2'},
   'HTTPStatusCode': 200,
   'RequestId': 'a11a7530-5f32-4439-a945-4b637dbe95dd',
   'RetryAttempts': 0},
  u'StartingInstances': [{u'CurrentState': {u'Code': 16, u'Name': 'running'},
    u'InstanceId': 'i-0e5e68c7b2bf89d90',
    u'PreviousState': {u'Code': 16, u'Name': 'running'}}]}]

In [175]:
# ec2.instances.filter(InstanceIds=['i-004983fe75c38d607']).stop()
ALLOCATION_ID = 'eipalloc-ea9fcdc4'

In [176]:
try:
    allocation = ec2_client.allocate_address(Domain='vpc')
    response = ec2_client.associate_address(AllocationId=ALLOCATION_ID,
                                     InstanceId=INSTANCE_ID)
    print(response)
except ClientError as e:
    print(e)

{u'AssociationId': 'eipassoc-6b48bd97', 'ResponseMetadata': {'RetryAttempts': 0, 'HTTPStatusCode': 200, 'RequestId': 'c107e969-33a1-481a-94cd-bb0913e63815', 'HTTPHeaders': {'transfer-encoding': 'chunked', 'vary': 'Accept-Encoding', 'server': 'AmazonEC2', 'content-type': 'text/xml;charset=UTF-8', 'date': 'Wed, 21 Feb 2018 02:28:32 GMT'}}}