In [3]:
from __future__ import print_function
from airflow.operators.python_operator import PythonOperator
from airflow.operators.email_operator import EmailOperator
from airflow.operators.dummy_operator import DummyOperator
from airflow.operators.mysql_operator import MySqlOperator
from airflow.models import DAG
from datetime import datetime, timedelta
from airflow.hooks.mysql_hook import MySqlHook
import time
from util import *
from time import gmtime, strftime
from pytz import timezone
from datetime import datetime
from sqlalchemy import ForeignKey, Table, Column, String, Integer, Float, Boolean, MetaData, select
from joblib import Parallel, delayed
from impala.dbapi import connect
from impala.util import as_pandas

Using TensorFlow backend.

height has been deprecated.

In [192]:
epopcon_db = Epopcon_db()

wspider_engine = epopcon_db.get_engine(production=True)
wspider_temp_engine = epopcon_db.get_engine(production=False)

In [209]:
not_clean = pd.read_sql_query("SELECT item_id FROM MWS_COLT_ITEM_EXTRACTED_FEATURE WHERE condition_clean = 0 LIMIT 3", wspider_temp_engine)

In [210]:
not_clean.item_id.values

array([425, 428, 434])

In [212]:
result = pd.read_sql_query("SELECT ID, SITE_NAME FROM MWS_COLT_ITEM WHERE RELEASE_DT > '2018-03-01' LIMIT 30000", wspider_engine)


result_dict = {a: b.ID.values for (a, b) in list(result.groupby('SITE_NAME'))}
BATCH_SIZE = 100

In [ ]:
result2 = pd.read_sql_query("SELECT * FROM MWS_COLT_ITEM_IVT", wspider_engine)

In [213]:
result2

            ID  SITE_NAME
0      8225669      HMALL
1      8225670      HMALL
2      8225671  lotte.com
3      8225672  lotte.com
4      8225673  lotte.com
...        ...        ...
29995  8255664      HMALL
29996  8255665      HMALL
29997  8255666      HMALL
29998  8255667      HMALL
29999  8255668      HMALL

[30000 rows x 2 columns]

In [182]:
'a' in ['a', 'b']

True

In [181]:
result.SITE_NAME.unique()

array(['HMALL', 'lotte.com', 'DESCENTE', 'GSSHOP', 'nbkorea', 'NIKE'], dtype=object)

In [115]:
splitted_input = []
for key, value in result_dict.iteritems():
    n_split = math.ceil(len(value) / float(BATCH_SIZE))
    splitted_lsts = np.array_split(value, n_split)
    for splitted_lst in splitted_lsts:
        splitted_input.append({'SIZE_NAME': key, 'ITEM_IDS': splitted_lst})

In [120]:
dataset = splitted_input[0]

In [172]:

item_ids = str(tuple([item_id for item_id in dataset['ITEM_IDS']]))
sql = "SELECT ITEM_ID, STOCK_ID, STOCK_AMOUNT, COLLECT_DAY, REG_ID, REG_DT FROM MWS_COLT_ITEM_IVT WHERE ITEM_ID IN %s" % item_ids

In [173]:
results = pd.read_sql_query(sql, wspider_engine)

In [184]:
tmp = results.head(10)

In [189]:
tuples = tuple([tuple(x) for x in tmp.values])

In [191]:
import MySQLdb
import MySQLdb.cursors

In [186]:
list(tmp.itertuples(index=False))

[Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=300, COLLECT_DAY='20180102', REG_ID='SERVER', REG_DT=Timestamp('2018-01-02 11:02:42')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180103', REG_ID='SERVER', REG_DT=Timestamp('2018-01-03 03:10:05')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180103', REG_ID='SERVER', REG_DT=Timestamp('2018-01-03 10:53:39')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180103', REG_ID='SERVER', REG_DT=Timestamp('2018-01-03 18:29:23')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180104', REG_ID='SERVER', REG_DT=Timestamp('2018-01-04 10:36:26')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180105', REG_ID='SERVER', REG_DT=Timestamp('2018-01-05 13:39:20')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180106', REG_ID='SERVER', REG_DT=Timestamp('2018-01-06 13:07:52')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180107', REG_ID='SERVER', REG_DT=Timestamp('2018-01-07 12:37:34')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180108', REG_ID='SERVER', REG_DT=Timestamp('2018-01-08 12:14:12')),
 Pandas(ITEM_ID=6739976, STOCK_ID='5509409554175882274', STOCK_AMOUNT=299, COLLECT_DAY='20180109', REG_ID='SERVER', REG_DT=Timestamp('2018-01-09 11:32:34'))]

In [174]:
results

      ITEM_ID             STOCK_ID  STOCK_AMOUNT COLLECT_DAY  REG_ID              REG_DT
0     6739976  5509409554175882274           300    20180102  SERVER 2018-01-02 11:02:42
1     6739976  5509409554175882274           299    20180103  SERVER 2018-01-03 03:10:05
2     6739976  5509409554175882274           299    20180103  SERVER 2018-01-03 10:53:39
3     6739976  5509409554175882274           299    20180103  SERVER 2018-01-03 18:29:23
4     6739976  5509409554175882274           299    20180104  SERVER 2018-01-04 10:36:26
...       ...                  ...           ...         ...     ...                 ...
8180  6749576  4755077369539950068           438    20180104  SERVER 2018-01-04 18:33:33
8181  6749576  4755077369539950068           437    20180106  SERVER 2018-01-06 12:57:28
8182  6749576  4755077369539950068           437    20180107  SERVER 2018-01-07 12:03:49
8183  6749576  4755077369539950068           435    20180108  SERVER 2018-01-08 12:00:26
8184  6749576  4755077369539950068           434    20180110  SERVER 2018-01-10 10:55:00

[8185 rows x 6 columns]

In [128]:
tuple([item_id for item_id in item_ids])

(6739976,
 6739977,
 6739978,
 6739979,
 6739980,
 6739981,
 6739982,
 6739983,
 6739984,
 6739985,
 6739986,
 6739987,
 6739988,
 6739989,
 6739990,
 6739991,
 6739992,
 6739993,
 6740377,
 6740378,
 6740379,
 6740380,
 6740381,
 6740382,
 6740383,
 6740384,
 6740385,
 6740386,
 6740387,
 6740388,
 6740389,
 6740390,
 6740391,
 6740392,
 6740393,
 6740394,
 6740395,
 6740396,
 6740397,
 6740398,
 6740399,
 6740400,
 6740401,
 6740402,
 6740403,
 6740404,
 6740405,
 6740406,
 6740407,
 6740408,
 6740409,
 6740410,
 6740411,
 6740412,
 6740413,
 6740414,
 6740415,
 6740416,
 6740417,
 6740418,
 6740419,
 6740420,
 6740421,
 6740929,
 6740930,
 6740931,
 6740932,
 6740933,
 6740934,
 6740935,
 6740936,
 6740937,
 6740938,
 6740939,
 6740940,
 6740941,
 6740942,
 6740943,
 6748414,
 6748415,
 6748416,
 6748417,
 6748418,
 6748422,
 6748423,
 6748424,
 6748425,
 6748426,
 6749569,
 6749570,
 6749571,
 6749572,
 6749573,
 6749574,
 6749575,
 6749576)

hook = MySqlHook(mysql_conn_id='mysql_wspider')
result = hook.get_pandas_df(sql='SELECT ID, SITE_NAME FROM wspider.MWS_COLT_ITEM_IVT LIMIT 10')
item_ids = result.ID.values
print(item_ids)